<div class="rabun-table-div">

  <h1>New Renter</h1>
  <p>Enter as much info as you know about the renter, especially any that might help identify the person and differentiate them from similar renters.  All fields except First and Last Name are optional.</p>
  <hr>

  <%= render 'form', renter: @renter %>

  <%= link_to 'Back', renters_path, class: "btn btn-link" %>
</div>