
// Colors flown in in case need to change -tp
// $primary:       green !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;

// Custom bootstrap variables must be set or imported *before* bootstrap. -Bootstrap gem docs
@import "bootstrap";

@import "font-awesome";

body{
  background: url('lake_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // background-position: ;
  // min-height: 1200px;
}

#welcome-jumbo {
  background: rgba(18, 78, 10, 0.473);
  margin: 3rem 4rem 1rem 4rem;
  color: rgb(211, 211, 211);
}

// .hover-not a:hover {
//   background-color: none !important;
// }
.fa.fa-user, .fa.fa-sign-out {
  // color: white;
  font-size: 2.25em;
  padding: 7px;
  padding-left: 15px;
    // a{
    //   &:hover{
    //     background-color: red !important;
    //   }
    // }
}