<h1>Editing Review</h1>

<%= render 'form', review: @review %>

<%#Links below are stubs to be filled later, added the renter path one%>
<%#= link_to 'Show', '#' %> |
<%= link_to 'Back', renter_path(@renter) %>
