<div class="rabun-table-div">

  <h1>New Review</h1>
  <p>Enter any information you'd like to share that might be helpful to others renting to this person.</p>
  <hr>

<%= render 'form', review: @review %>

<%#Link below is stubb to be filled later%>
<%= link_to 'Back to Renters', renter_path(@renter) %>
</div>
